.commonGameOptionsForm {
  padding: 20px;
  border-bottom: 1px solid rgb(40, 40, 40);

  &-container {
    display: flex;
    gap: 6px;

    &-title {
      color: white;
      font-size: 18px;
      display: flex;
      align-items: center;
      gap: 8px;
      width: 20%;
    }

    &-regions {
      display: flex;
      gap: 14px;
      flex-wrap: wrap;

      label {
        border-radius: 4px;
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 4px 8px;
        font-size: 16px;
        font-weight: 600;
        font-style: italic;
        user-select: none;

        &.active {
          background-color: $blueColor;
        }
        &.inactive {
          background-color: $firstColor;
          color: $secondColor;
        }

        input {
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .commonGameOptionsForm {
    &-container {
      flex-direction: column;
      gap: 10px;

      &-title {
        font-size: 16px;
      }

      &-regions {
        label {
          font-size: 16px;
        }
      }
    }
  }
}
