@import "../base/variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Poppins", sans-serif;
  outline: none;
  border: none;

  body {
    background-color: $bodyBackgroundColor;
    color: $textColor;
    // overflow-y: scroll;
  }
}

::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: $secondColor;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
