$bodyBackgroundColor: #181818;
$headerColor: #252525;
$firstColor: #282828;
$secondColor: #494646;
$textColor: white;
$blueColor: #2e61ff;
$redColor: #ff2222;

$inputHeight: 38px;
$inputFontSize: 15px;
$inputOutlineColor: #6f6f6f;
$inputBorderRadius: 5px;
$inputGap: 16px;
$inputBoxShadow: 4px 4px 6px 1px rgba(0, 0, 0, 0.2);

$cardGap: 10px;

$pageTitleFontWeight: 600;
$pageTitleFontSize: 18px;
$pageTitleGap: 4px;
