::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;

}

::-webkit-scrollbar-thumb {
    background-color: $inputOutlineColor;
    border-radius: 3px;
}


.countries {
    max-width: 1240px;
    margin: 0 auto;
    margin-top: 110px;

    .page-title {
        font-size: 20px;
        margin-bottom: 20px;
        font-weight: 600;
    }
}

.countries-list {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 22px;
}

.countries-inputs {
    margin-bottom: 40px;
    display: flex;
    gap: 20px;

    &-search {

        width: 50%;
        background-color: #333;
        display: flex;
        align-items: center;
        height: 35px;
        position: relative;
        border-radius: 5px;


        i {
            color: $inputOutlineColor;
            position: absolute;
            left: 10px;
            font-size: 14px;
        }

        input {
            background-color: transparent;
            padding: 0 30px;
            width: 100%;
            height: 100%;
            color: $textColor;
            border: 1px solid $inputOutlineColor;
            border-radius: 5px;

            &:focus {
                border: 1px solid white;
            }

            &:focus i {
                color: white;
            }
        }
    }

    &-sorting {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        width: 15%;
        position: relative;
        cursor: pointer;

        i {
            margin: 0 10px;
        }

        &-current {
            background-color: #333;
            height: 35px;
            width: 100%;
            outline: 1px solid $inputOutlineColor;
            color: $inputOutlineColor;
            display: flex;
            align-items: center;
            border-radius: 5px;
        }

        &-hidden {
            background-color: #333;
            position: absolute;
            top: 50px;
            width: 100%;
            outline: 1px solid $inputOutlineColor;
            color: $inputOutlineColor;
            border-radius: 5px;

            li {
                cursor: pointer;
                display: flex;
                align-items: center;
                height: 35px;

                &:hover {
                    color: white;
                    background-color: #444;
                }
            }
        }
    }

    &-regions {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        width: 15%;
        position: relative;
        cursor: pointer;

        &:hover .countries-inputs-regions-current {
            border-bottom: none;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;

        }

        &:hover .countries-inputs-regions-hidden {
            display: block;
            border-top: none;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;

        }

        i {
            margin: 0 10px;
        }

        &-current {
            background-color: #333;
            height: 35px;
            width: 100%;
            border: 1px solid $inputOutlineColor;
            color: $inputOutlineColor;
            display: flex;
            align-items: center;
            border-radius: 5px;

        }

        &-hidden {
            display: none;
            background-color: #333;
            position: absolute;
            top: 35px;
            width: 100%;
            border: 1px solid $inputOutlineColor;
            color: $inputOutlineColor;

            li {
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: space-between;

                height: 35px;

                span {
                    margin: 0 9px;
                }

                &:hover {
                    color: white;
                    background-color: #444;
                }
            }
        }
    }

    &-population {
        border: 1px solid $inputOutlineColor;
        border-radius: 5px;
        background-color: #333;
        display: flex;
        gap: 10px;

        &-left {
            border-right: 1px solid $inputOutlineColor;
        }

        input {
            background-color: transparent;
            color: white;
            padding: 0 5px;
        }
    }

}

.country-card {
    background-color: #303030;
    height: 220px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: all .1s;

    &:hover {
        outline: 4px solid white;
    }

    &-header {
        height: 40%;

        img {
            height: 100%;
            width: 100%;
        }
    }

    &-main {
        font-size: 7px;
        padding: 8px;

        h1 {
            font-weight: 500;
            margin-bottom: 8px;
        }

        h2 {
            font-weight: 300;
            margin-bottom: 3px;
        }
    }

}

@media only screen and (max-width: 600px) {
    .countries {
        margin-top: 130px;
        max-width: 500px;
    }

    .countries-inputs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

        &-search {
            width: 100%;
        }

        &-sorting {
            width: 100%;
        }

        &-regions {
            width: 100%;
        }

        &-population {
            height: 40px;

        }
    }

    .countries-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 22px;
    }
}