.leaflet-container {
    height: 500px;
}


.details-page {
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;


    i {
        font-size: 14px;
    }

    h4 {
        font-size: 18px;
        font-weight: 400;
        margin-left: 10px;
    }

    li {
        font-size: 14px;
        color: gray;
    }

    p {
        font-size: 14px;
    }


    &-name {
        margin-top: 110px;
        color: #d0d0d0;
        display: flex;
        align-items: center;

        h2 {
            font-size: 22px;
            font-weight: 400;
        }

        h3 {
            font-weight: 400;
            font-size: 18px;
            color: $inputOutlineColor;
            margin-left: 10px;
        }
    }

    &-flag {
        margin-top: 10px;
        height: 170px;
        overflow: hidden;
        display: flex;
        justify-content: start;

        img {
            border-radius: 5px;
            height: 100%;
            width: 25%;
        }
    }

    &-languages {
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        margin-top: 30px;
        background-color: #333;
        padding: 10px;
        border-radius: 5px;

        ol {
            margin-top: 10px;
        }

        div {
            display: flex;
            align-items: center;
        }

        li {
            list-style-type: decimal;
            margin-left: 15px;

            span {
                margin-right: 10px;
            }
        }

    }

    &-population {
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        margin-top: 30px;
        background-color: #333;
        padding: 10px;
        border-radius: 5px;
        display: flex;

        &-value {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &-title {
                display: flex;
                align-items: center;
            }

            &-description {
                color: gray;
            }
        }

        &-rank {
            width: 50%;
            display: flex;
            flex-direction: column;

            &-title {
                display: flex;
                align-items: center;
                margin-bottom: 10px;
            }

            &-description {
                color: gray;
                font-size: 12px;
            }

        }

        h4 {
            font-weight: 400;
            margin-left: 10px;
        }
    }

    &-regions {
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        margin-top: 30px;
        background-color: #333;
        padding: 10px;
        border-radius: 5px;
        display: flex;

        &-region {
            width: 50%;
            display: flex;
            flex-direction: column;

            &-title {
                display: flex;
                align-items: center;
                margin-bottom: 10px;
            }

            &-description {
                color: gray;
            }
        }

        &-subregion {
            width: 50%;
            display: flex;
            flex-direction: column;

            &-title {
                display: flex;
                align-items: center;
                margin-bottom: 10px;
            }

            &-description {
                color: gray;
            }

        }
    }

    &-check {
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        margin-top: 30px;
        background-color: #333;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        gap: 10px;

        &-independent {
            display: flex;
            justify-content: space-between;
            width: 100%;

            &-title {
                display: flex;
                align-items: center;
            }
        }

        &-UN {
            display: flex;
            justify-content: space-between;
            width: 100%;


            &-title {
                display: flex;
                align-items: center;
            }
        }

        &-sea {
            display: flex;
            justify-content: space-between;
            width: 100%;

            &-title {
                display: flex;
                align-items: center;
            }
        }

    }

    &-startofweek {
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        margin-top: 30px;
        background-color: #333;
        border-radius: 5px;
        display: flex;
        align-items: center;
        padding: 10px;
        gap: 10px;

        &-title {
            width: 50%;
            display: flex;
            align-items: center;
        }

        &-description {
            width: 50%;
            color: gray;

            ol {
                display: flex;
                justify-content: space-between;

                .details-page-startofweek-description-calendar {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;


                    .day_decimal {
                        margin-top: 5px;
                        height: 50px;
                        display: flex;
                        justify-content: center;
                        border: 1px solid gray;
                        width: 100%;
                        align-items: center;

                        .day-active {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 30px;
                            width: 30px;
                            border-radius: 50%;
                            color: black;
                            background-color: white;
                        }
                    }
                }
            }
        }


    }

    &-weather {
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        margin-top: 30px;
        background-color: #333;
        border-radius: 5px;
        display: flex;
        align-items: center;
        padding: 10px;
        gap: 10px;

        img {
            height: 100px;
        }
    }

    &-currencies {
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        margin-top: 30px;
        background-color: #333;
        border-radius: 5px;
        display: flex;
        padding: 10px;
        gap: 10px;


        &-currency {
            width: 50%;

            ol {
                margin-top: 10px;
            }

            li {
                margin-bottom: 5px;
            }

            &-title {
                display: flex;
                align-items: center;
            }
        }
    }

    &-coa {
        margin-top: 30px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        gap: 10px;

        img {
            height: 250px;
        }
    }

    &-borders {
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        margin-top: 30px;
        background-color: #333;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding: 10px;

        &-title {
            display: flex;
            align-items: center;
        }

        &-description {
            margin-top: 15px;
            display: flex;
            flex-direction: column;
            width: 100%;
            color: gray;

            &-country {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 15px;
                width: 100%;



                div {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-self: flex-start;
                    height: 100%;

                    img {
                        height: 40px;
                        width: 60px;
                        border-radius: 3px;
                    }

                    p {
                        margin-left: 10px;
                    }
                }
            }
        }
    }

    &-map {
        margin-top: 30px;
        border-radius: 5px;
        overflow: hidden;
    }

    &-area {
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        margin-top: 30px;
        background-color: #333;
        border-radius: 5px;
        display: flex;
        align-items: center;
        padding: 10px;
        letter-spacing: 1px;

        span {
            color: white;
            font-style: italic;
        }

        p {
            color: gray;
        }

        i {
            margin-right: 10px;
        }
    }


}

@media only screen and (max-width: 600px) {
    .details-page {
        max-width: 350px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;



        i {
            font-size: 12px;
        }

        h4 {
            font-size: 15px;
        }

        li {
            font-size: 12px;
        }

        p {
            font-size: 12px;
        }

        &-name {
            margin-top: 130px;
        }

        &-startofweek {
            align-items: start;
            flex-direction: column;

            &-description {
                width: 100%;
            }
        }

        &-flag {
            margin-top: 10px;
            height: 170px;
            overflow: hidden;
            border-radius: 15px;

            img {
                height: 100%;
                width: 100%;
            }
        }

        &-borders {
            &-description {


                &-country {
                    margin-bottom: 5px;

                    .hidden {
                        display: none;
                    }

                    div {
                        margin-bottom: 8px;

                        p {
                            font-size: 14px;
                        }

                        img {
                            width: 40px;
                            height: 25px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 400px) {

    .details-page {
        max-width: 300px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }
}