.gameInformation-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background-color: #151515;
  border-radius: 10px;
  margin-bottom: 20px;

  &-info {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-items: center;
    position: relative;

    p {
      font-style: italic;
      font-weight: 400;
      font-size: 22px;
      z-index: 2;
      color: white;
    }

    h4 {
      z-index: 2;
      color: gray;
      font-weight: 300;
      font-size: 12px;
    }

    i {
      z-index: 1;
      position: absolute;
      font-size: 50px;
      color: #333;
      opacity: 0.3;
    }
  }
}

@media only screen and (max-width: 480px) {
  .gameInformation-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 480px) {
  .gameInformation-container {
    &-info:not(:last-child) {
      border-right: 1px solid rgba($color: #2f2f2f, $alpha: 0.5);
    }
  }
}
