.clickInput {
  padding: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(40, 40, 40);

  &-title {
    width: 20%;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    color: white;
  }

  &-value {
    display: flex;
    overflow: auto;
    justify-content: center;
    border-radius: 10px;

    button {
      cursor: pointer;
      padding: 4px 32px;
      font-size: 20px;
      font-weight: 600;
      color: #d0d0d0;

      &.active {
        background-color: $blueColor;
      }
      &.inactive {
        background-color: $firstColor;
      }
    }

    button:hover {
      color: white;
    }

    button:not(:last-child) {
      border-right: 2px solid rgb(32, 32, 32);
    }
  }
}

@media only screen and (max-width: 480px) {
  .clickInput {
    flex-direction: column;
    align-items: start;
    gap: 10px;

    &-value {
      display: flex;
      align-items: start;
      justify-content: start;
      width: 100%;
      overflow: auto;
      -- button {
        font-size: 16px;
      }
    }

    &-value > button:first-child {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    &-value > button:last-child {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
}

@media only screen and (min-width: 480px) {
  .clickInput {
    &-value::-webkit-scrollbar {
      height: 4px;
      background-color: transparent;
    }

    &-value::-webkit-scrollbar-thumb {
      height: 4px;
      background-color: gray;
    }
  }
}
